{% if settings.cart_drawer %}
<div class="side-panel cart-drawer" id="Cart-Drawer" tabindex="-1">
	<div class="side-panel-inner">
		<div class="side-panel-header">
			<div>
				<h4>{{ 'general.cart_drawer.title' | t }}</h4>
				<side-panel-close class="side-panel-close">{{ 'general.close' | t }}</side-panel-close>
			</div>
		</div>
		<div class="side-panel-content">
			{%- if cart != empty -%}
				{% for item in cart.items %}
				<div class="product-cart-item" id="CartDrawerItem-{{ item.index | plus: 1 }}">
					<div class="product-cart-item-image">
						{% if item.image %}
							{%- render 'responsive-image', image: item.image, sizes: '168x0' -%}
						{% else %}
							<div class="thb-placeholder" style="width: 100px;">
								{{ 'product-1' | placeholder_svg_tag }}
							</div>
						{% endif %}
						<div class="loading-overlay">
							{% render 'svg-icons' with 'thb-loading' %}
						</div>
					</div>
					<div>
						<a href="{{ item.url }}" title="{{ item.product.title | escape }}" class="cart-product-link">{{ item.product.title }}</a>
				    {% render 'product-price', product: item %}
						{% if item.selling_plan_allocation %}
						<div class="properties">
							<span class="selling-plan">{{ item.selling_plan_allocation.selling_plan.name }}</span>
						</div>
						{% endif %}
						{% unless item.variant.title contains 'Default' %}
							<div class="product-cart-item-options">
								{% for option in item.product.options %}
									{{ item.variant.options[forloop.index0] }}{% if forloop.last != true %}, {% endif %}
								{% endfor %}
							</div>
						{% endunless %}
						{%- if item.discounts != blank -%}
						<ul class="discounts" role="list">
							{%- for discount in item.discounts -%}
								<li class="discounts__discount">
									{%- render 'svg-icons' with 'discount' -%}
									{{ discount.title }} (-{{ discount.amount | money }})
								</li>
							{%- endfor -%}
						</ul>
						{%- endif -%}
						<div class="quantity cart-update small-qty" data-id="{{ item.key | escape }}">
						 <button class="minus" type="button" aria-label="{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}">{% render 'svg-icons' with 'minus' %}</button>
							<input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="1" class="qty" data-index="{{ item.index | plus: 1 }}" aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}">
						 <button class="plus" type="button" aria-label="{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}">{% render 'svg-icons' with 'plus' %}</button>
						</div>
						<a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove" data-index="{{ item.index | plus: 1 }}">{% render 'svg-icons' with 'trash' %}</a>
					</div>
				</div>
				{% endfor %}
			{%- else -%}
				<div class="cart-drawer__empty-cart">
					{% render 'svg-icons' with 'thb-empty-cart' %}
					<p>{{ 'general.cart_drawer.cart_empty' | t }}</p>
					<a class="button accent2" href="{{ routes.all_products_collection_url }}"><span>{{ 'general.cart_drawer.start_shopping' | t }}</span></a>
				</div>
			{%- endif -%}
			{%- if cart != empty and settings.cart_recommendations -%}
				<product-recommendations class="product-recommendations-drawer" data-url="{{ routes.product_recommendations_url }}?section_id=cart-drawer&product_id={{ cart.items[0].product_id }}&limit=4">
				  {% if recommendations.performed and recommendations.products_count > 0 %}
						<p class="product-recommendations-drawer__heading">{{ 'general.cart_drawer.you_may_also_like' | t }}</p>
						<scroll-shadow>
					    <div class="product-recommendations-drawer__products">
					      {% for recommendation in recommendations.products %}
					        {% render 'product-card-small' product_small: recommendation %}
					      {% endfor %}
					    </div>
						</scroll-shadow>
				  {% endif %}
				</product-recommendations>
			{%- endif -%}
		</div>
		{%- if cart != empty -%}
			<div class="side-panel-footer">
				<button type="button" class="order-note-toggle" id="order-note-toggle" aria-controls="mini-cart-note">{{ 'general.cart_drawer.add_order_note' | t }}</button>
				<div class="order-note-toggle__content">
					<label for="mini-cart__notes">{{ 'general.cart_drawer.add_order_note' | t }}</label>
					<textarea name="note" id="mini-cart__notes" rows="5">{{ cart.note }}</textarea>
					<button class="button full"><span>{{ 'general.cart_drawer.save' | t }}</span></button>
					<div class="order-note-toggle__content-overlay"></div>
				</div>
				{%- if cart.cart_level_discount_applications.size > 0 -%}
					{%- for discount in cart.cart_level_discount_applications -%}
						<div class="mini-cart__row mini-cart__discount">
							<div class="mini-cart__label">{{ discount.title }}</div>
							<span>(-{{ discount.total_allocated_amount | money }})</span>
						</div>
					{%- endfor -%}
				{%- endif -%}
		    <div class="mini-cart__row mini-cart__total total">
		      <div class="mini-cart__label">{{ 'sections.cart.subtotal' | t }}
						<p class="cart-policy-text">
							{%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
								{{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
							{%- elsif cart.taxes_included -%}
								{{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
							{%- elsif shop.shipping_policy.body != blank -%}
								{{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
							{%- else -%}
								{{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
							{%- endif -%}
						</p>
					</div>
					<span class="amount">{{ cart.total_price | money }}</span>
		    </div>
				<div class="cart-drawer-buttons">
					<a href="{{ routes.cart_url }}" class="button full outline" title="{{ 'general.cart_drawer.view_cart' | t | escape }}">{{ 'general.cart_drawer.view_cart' | t }}</a>
					<a href="/checkout" class="button full checkout" title="{{ 'general.cart_drawer.checkout' | t | escape }}">{{ 'general.cart_drawer.checkout' | t }}</a>
				</div>
			</div>
		{%- endif -%}
	</div>
</div>
{% endif %}
