<div {{ block.shopify_attributes }}>
	{%- if product != blank -%}
  <product-form class="product-form">
		<div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
      {% render 'svg-icons' with 'thb-error' %}
      <span class="product-form__error-message"></span>
    </div>
		{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
		<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
		<div class="product-add-to-cart-container">
			<div class="form-notification error" style="display:none;"></div>
		  <div class="add_to_cart_holder">
				{%- if show_quantity_selector -%}
		    <div class="quantity">
					<button class="minus" type="button" aria-label="{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}">
						{% render 'svg-icons' with 'minus' %}
					</button>
		      <input type="number" id="Quantity-{{ section.id }}" name="quantity" class="qty" value="1" min="1" form="{{ product_form_id }}" aria-label="{{ 'products.product.quantity.input_label' | t: product: product.title | escape }}">
					<button class="plus" type="button" aria-label="{{ 'products.product.quantity.increase' | t: product: product.title | escape }}">{% render 'svg-icons' with 'plus' %}</button>
		    </div>
				{%- endif -%}
		    <button type="submit" name="add" id="AddToCart" class="single_add_to_cart_button button {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
					<span>
						{%- if product.selected_or_first_available_variant.available -%}
		          {{ 'products.product.add_to_cart' | t }}
		        {%- else -%}
		          {{ 'products.product.sold_out' | t }}
		        {%- endif -%}
					</span>
					<span class="loading-overlay">
						{% render 'svg-icons' with 'thb-loading' %}
					</span>
				</button>
				{%- if show_dynamic_checkout -%}
		      {{ form | payment_button }}
		    {%- endif -%}
		  </div>
		</div>
		{%- endform -%}
	</product-form>
	{%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="single_add_to_cart_button button sold-out"
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}
</div>
{%- if pickup -%}
{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
<pickup-availability
	class="pickup-availability-wrapper"
	{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}available{% endif %}
  data-root-url="{{ routes.root_url }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-has-only-default-variant="{{ product.has_only_default_variant }}"
>
	{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
	{%- if pick_up_availabilities.size > 0 -%}
		{% render 'product-pickup-availability', pick_up_availabilities: pick_up_availabilities %}
	{% endif %}
</pickup-availability>
<div class="side-panel side-availability" id="Pickup-Availability"></div>

<script src="{{ 'pickup-availability.min.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
