<ul class="social-links">
	{% if settings.social_facebook_link != blank %}
	<li><a href="{{ settings.social_facebook_link }}" class="social facebook" target="_blank" rel="noreferrer" title="Facebook">{% render 'svg-icons' with 'facebook' %} <span>Facebook</span></a></li>
	{% endif %}
	{% if settings.social_twitter_link != blank %}
	<li><a href="{{ settings.social_twitter_link }}" class="social twitter" target="_blank" rel="noreferrer" title="Twitter">{% render 'svg-icons' with 'twitter' %} <span>Twitter</span></a></li>
	{% endif %}
	{% if settings.social_instagram_link != blank %}
	<li><a href="{{ settings.social_instagram_link }}" class="social instagram" target="_blank" rel="noreferrer" title="Instagram">{% render 'svg-icons' with 'instagram' %} <span>Instagram</span></a></li>
	{% endif %}
	{% if settings.social_youtube_link != blank %}
	<li><a href="{{ settings.social_youtube_link }}" class="social youtube" target="_blank" rel="noreferrer" title="YouTube">{% render 'svg-icons' with 'youtube' %} <span>Youtube</span></a></li>
	{% endif %}
	{% if settings.social_pinterest_link != blank %}
	<li><a href="{{ settings.social_pinterest_link }}" class="social pinterest" target="_blank" rel="noreferrer" title="Pinterest">{% render 'svg-icons' with 'pinterest' %} <span>Pinterest</span></a></li>
	{% endif %}
	{% if settings.social_vimeo_link != blank %}
	<li><a href="{{ settings.social_vimeo_link }}" class="social vimeo" target="_blank" rel="noreferrer" title="Vimeo">{% render 'svg-icons' with 'vimeo' %} <span>Vimeo</span></a></li>
	{% endif %}
	{% if settings.social_tiktok_link != blank %}
	<li><a href="{{ settings.social_tiktok_link }}" class="social tiktok" target="_blank" rel="noreferrer" title="TikTok">{% render 'svg-icons' with 'tiktok' %} <span>TikTok</span></a></li>
	{% endif %}
</ul>
